<md-toolbar layout="row" layout-align="start center" class="noise">
    <div layout="row" layout-align="center center">
        <img class="tabBar-face" src="http://www.mathcurve.com/fractals/arbre/arbre3d.gif" />
        <h2 hide-sm>{{tabBar.connectedUserPseudo}}</h2>
    </div>
    <div layout="row" layout-align="center center" flex>
        <md-tabs md-selected="tabBar.selectedIndex" class="tabBar-tabs">
            <md-tab ng-repeat="tab in tabBar.tabs"
                    ng-disabled="tab.disabled"
                    label="{{tab.title}}"
                    ng-click="tabBar.clickTab(tab);">
            </md-tab>
        </md-tabs>
    </div>
</md-toolbar>
