<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-ressource.js"></script>

    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <title>Connection</title>
</head>
<body ng-app="twitterApp">
    <div ng-controller='ConnectionCtrl'>
        <form ng-submit="connection()">
            <div>Login : <input ng-model="user.pseudo" /></div>
            <div>Password : <input ng-model="user.password" /></div>
            <input type="submit" value="Connection">
        </form>
    </div>
</body>
</html>