<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>test</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-ressource.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>

    <script src="app.js"></script>
    <script src="app.controller.js"></script>

    <script src="services/tweeterAppConnexion.js"></script>
    <script src="services/tweet.js"></script>
    <script src="services/user.js"></script>
    <script src="services/userFollowed.js"></script>
    <script src="services/userFollower.js"></script>
    <script src="services/userTweet.js"></script>

    <script src="app/tweet-list/formTweetController.js"></script>

    <script src="app/tweet-list/tweet-list.controller.js"></script>
    <script src="app/tweet-list/tweet-list.route.js"></script>

    <script src="app/connection/connection.controller.js"></script>
    <script src="app/connection/connection.route.js"></script>

    <script src="app/inscription/inscription.controller.js"></script>
    <script src="app/inscription/inscription.route.js"></script>

    <script src="app/profil/profil.controller.js"></script>
    <script src="app/profil/profil.route.js"></script>

    <script src="app/search/search.controller.js"></script>
    <script src="app/search/search.route.js"></script>
</head>
<body ng-app="twitterApp" ng-controller="AppController as app">

<a href="#/connection" ng-if="!app.connected">connection</a> <span ng-if="!app.connected">|</span>
<a href="#/inscription" ng-if="!app.connected">inscription</a>
<a href="#/myTweet" ng-if="app.connected">my tweet</a> <span ng-if="app.connected">|</span>
<a href="#/profil" ng-if="app.connected">profil</a> <span ng-if="app.connected">|</span>
<a href="#/search" ng-if="app.connected">search</a>
<br />

<div class="view-animate-container">
    <div ng-view class="view-animate"></div>
</div>

</body>
</html>