<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-ressource.js"></script>

    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
    <title>Inscription</title>
</head>
<body ng-app="twitterApp">
<div ng-controller='InscriptionCtrl'>
    <form ng-submit="inscription()">
        <div>Login : <input ng-model="user.pseudo" /></div>
        <div>Name : <input ng-model="user.name" /></div>
        <div>Surname : <input ng-model="user.surname" /></div>
        <div>Password : <input ng-model="user.password" /></div>
        <input type="submit" value="Inscription">
    </form>
</div>
</body>
</html>